{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block styles %}
    <style>
        .about .section-1 {
            background: var(--cream);
            color: var(--black);

            padding: 4rem 10rem;
        }

        .about .section-2 {
            display: flex;
            justify-content: center; 
            align-items: center;    
            text-align: center;   
            flex-direction: column;
            
            color: var(--cream);
            background: var(--black);

            padding: 4rem 10rem;
        }

        .about .section-2 .hover-link {
            color: var(--yellow);
            text-decoration: none; 
            transition: color 0.3s ease, text-decoration 0.3s ease;
        }
        
        .about .section-2 .hover-link:hover {
            color: var(--pink);
            text-decoration: underline;
        }
        
    </style>
{% endblock%}


{% block content %}
<div class="about">
    <div class="section-1">
        <div class="hero">
            <h1>hi 👋 i'm sophia!</h1>
            <h2>a full-stack developer who’s passionate<br>about intuitive & accessible design 👩‍💻</h2>
        </div>
        <div class="list">
            <p>Here’s a few other things I love 👇</p>
                <ul>
                    <li>Iced matcha with a pump of white mocha</li>
                    <li>Watching K-drama with my mom 📺</li>
                    <li>Trying out different restaurants 🍽️</li>
                </ul>
        </div>
    </div>
    <div class="section-2">
        <h1>Interested in <span style="color: var(--pink);">working together</span>?</h1>
        <p>
            Let’s have a chat 😁 You can reach out to me through<br>
            <a href="https://www.linkedin.com/in/sophia-salta/" target="_blank" class="hover-link">LinkedIn</a> 
            or my email at 
            <a href="mailto:sdbsalta@gmail.com" class="hover-link">sdbsalta@gmail.com</a> 📩
        </p>          
    </div>
{% endblock %}