{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about">
    <div class="section-1">
        <div class="hero">
            <h1>hi 👋 i'm sophia!</h1>
            <h2>a full-stack developer who’s passionate<br>about intuitive & accessible design 👩‍💻</h2>
        </div>
        <div class="list">
            <p>Here’s a few other things I love 👇</p>
                <ul>
                    <li>Iced matcha with a pump of white mocha</li>
                    <li>Watching K-drama with my mom 📺</li>
                    <li>Trying out different restaurants 🍽️</li>
                </ul>
        </div>
    </div>
    <div class="section-2">
        <h1>interested in working together?</h1>
        <p>let’s have a chat 😁 you can reach out to me through<br>linkedin or my email at sdbsalta@gmail.com 📩</p>
    </div>
{% endblock %}