{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block styles %}
    <style>
       .about .section-2 {
            display: flex;
            justify-content: center; 
            align-items: center;    
            text-align: center;   
            flex-direction: column;

            padding-left: 10rem;
            padding-right: 10rem;

            padding-top: 4rem;
            padding-bottom: 4rem;
            
            color: var(--cream);
            background: var(--black);
       }
        
    </style>
{% endblock%}


{% block content %}
<div class="about">
    <div class="section-1">
        <div class="hero">
            <h1>hi 👋 i'm sophia!</h1>
            <h2>a full-stack developer who’s passionate<br>about intuitive & accessible design 👩‍💻</h2>
        </div>
        <div class="list">
            <p>Here’s a few other things I love 👇</p>
                <ul>
                    <li>Iced matcha with a pump of white mocha</li>
                    <li>Watching K-drama with my mom 📺</li>
                    <li>Trying out different restaurants 🍽️</li>
                </ul>
        </div>
    </div>
    <div class="section-2">
        <h1>Interested in <span style="color: var(--pink);">working together</span>?</h1>
        <p>let’s have a chat 😁 you can reach out to me through<br>linkedin or my email at sdbsalta@gmail.com 📩</p>
    </div>
{% endblock %}