/* /static/css/nav.css */
/* Styles for header and navigation menu */
header {
    background-color: var(--cream);; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}
